<!DOCTYPE html>
<html>
<head> 
    <title>DocAPI main page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="row text-center">

    

     
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-70">
     
            <div class="card-body">
              <h4 class="card-title">Java Button</h4>
              <p class="card-text">TEST REDIRECT</p>
            </div>
            <div class="card-footer">
              <a href="/redirect" class="btn btn-primary">J-Test</a>
            </div>
          </div>
        </div>
    </div>
<body>
<html>